<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PeerView</title>
	
  
</head>


<body>
<h1>WELCOME TO PEERVIEW</h1>
<h2>click create chatroom to get unique chatroom ID</h2>
<form action="/create-room">
   <button type="submit">Start Room</button>
 </form>
 
</body>
</html>

<script src="main.js"></script>